* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
html {
  background-color: rgb(200, 218, 201);
  scroll-behavior: smooth;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #2196F3;
  height: 100vh;
}
.container1{
  position: sticky;
  display: flex;
  z-index: 1000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* Navbar */
#navbar {
  z-index: 1000;
  display: block;
  height: 50px;
  align-items: center;
}
#navbar a {
  display: flex;
  color: #000000;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
  flex-direction: row;
  text-align: center;
  align-items: center;
  font-family: "Montserrat"
}
#navbar a:hover {
background-color: #94b5f3;
color: rgb(255, 251, 251);
}
#navbar a:focus {
background-color: #04AA6D;
color: white;
}



