* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
  }
  html {
    background-color: #222222;
  }


/* Banner */
div > .banner {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically */
  background-image: url(media/ut_austin_background_banner.ico);
  background-size: 100%;
  background-position: 50% 38%;
  height: 30vh;
}

/* Name Heading */
.name1 {
  text-align: center;
  padding: 15px;
  color:rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 50;
  z-index: 20;
}
.under1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 15;
  z-index: 10;
}

.box1 {
  height: 120px;
  width: 350px;
  background-color: rgb(0, 0, 0, .5); 
  backdrop-filter: blur(5px);
  z-index: 0;
}


#seclabel {
  text-align: center;
  padding: 20px;
  color: rgb(200, 218, 201);
  font-size: 40;
}

/* Navbar */
#navbar {
    position: sticky;
    top: 0;
    background-color: #3a5485;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    height: 50px;
    align-content: center;
}

/* Navbar links */
#navbar a {
    display: flex;
    color: #ffffff;
    padding: 14px;
    text-decoration: none;
    font-size: 20px;
    flex-direction: row;
    text-align: center;
    align-items: center;
    font-family: "Montserrat"
  }
/* Hover */
#navbar a:hover {
  background-color: #94b5f3;
  color: rgb(255, 251, 251);
}
/* Active */
#navbar a:focus {
  background-color: #04AA6D;
  color: white;
  }
#space {
  height: 1000px
}

