* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
html {
  background-color: rgb(200, 218, 201);
  scroll-behavior: smooth;
}

/* Navbar */
#navbar {
  position: sticky;
  top: 0;
  background-color: rgb(200, 218, 201);
  z-index: 1000;
  display: flex;
  flex-direction: row;
  height: 50px;
  align-content: center;
  justify-content: center;
}
#navbar a {
  display: flex;
  color: #000000;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
  flex-direction: row;
  text-align: center;
  align-items: center;
  font-family: "Montserrat"
}
#navbar a:hover {
background-color: #94b5f3;
color: rgb(255, 251, 251);
}
#navbar a:focus {
background-color: #04AA6D;
color: white;
}





/* About Section */
#about {
padding-top: 50px;
height: 1000px;
}
.container1 {
display: grid;
grid-template-columns: 1fr 3fr;
width: 100%;
height: fit-content;
}
.container_half {
display: flex;
justify-content: center;
}
.card1 {
/* Add shadows to create the "card" effect */
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 250px;
height: 50vh; 
padding: 10px;
color: rgb(200, 218, 201);
}
/* On mouse-over, add a deeper shadow */
.card1:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card2 {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 1200px;
height: 90%;
padding: 10px;
}
.card2:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


#seclabel {
text-align: center;
padding: 20px;
color: rgb(200, 218, 201);
font-size: 40;
}


